<% question = @selected_question %>
<h1><%= question.details %></h1>
<p>
  <%= question.answer1 %>:
  <%= question.score_ans1 %>
</p>

<p>
  <%= question.answer2 %>:
  <%= question.score_ans2 %>
</p>

<p>
  <%= question.answer3 %>:
  <%= question.score_ans3 %>
</p>

