<% if @selected_question.nil? %>
  <h2>No question currently selected</h2>
<% else %>
  <% question = @selected_question %>
  <h2><%= question.details %></h2>
  <p>
    <%= question.answer1 %>:
    <%= question.score_ans1 %>
  </p>

  <p>
    <%= question.answer2 %>:
    <%= question.score_ans2 %>
  </p>

  <p>
    <%= question.answer3 %>:
    <%= question.score_ans3 %>
  </p>
<% end %>

